body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c8f6d6 !important;
  font-family: cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
